.container {
    padding-top: 20px;
    color: white;
    padding-bottom: 20px;
}

#header {
    text-shadow: lavender;
    text-transform: uppercase;
}

.card {
    background-color: #0288D1   ;
    margin: 3% 10%;
    padding: 10px 35px;
}

.card a, a:visited, a:hover {
    text-decoration: none;
    color: inherit;
}