.container {
    padding: 20x 20px;
}

#header {
    text-shadow: lavender;
    text-transform: uppercase;
}

.itemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: inherit;
}

.item {
    margin: 30px 30px;
    padding: 20px 35px;
    border: 0.5px solid #CDECF0;
    color: black;
    border-radius: 5px;
    width: 500px;
}
.item a, a:visited{
    text-decoration: none;
}